@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

body {
    background-color: #20364b;
    margin: 0 auto;
    max-width: 1300px;
}

* {
    font-family: 'Poppins', sans-serif;
    color: white;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#logo {
    width: 200px;
}

ul li {
    display: inline-block;
    margin: 10px;
    font-size: 25px;
}

.nav-link {
    text-decoration: none;
    color: #f5f5f6;
    transition: 0.3s;
    font-family: sans-serif;
}

.nav-link:hover {
    transition: 0.3s;
    color: #fdc11f;
    border-bottom: 3px solid #fdc11f;
}

.icon {
    background-color: #fdc21fa8;
    border-radius: 100px;
    padding: 10px 10px 5px 10px;
}

.search-icon {
    width: 30px;
    background-color: #fdc11f;
    border-radius: 100px;
    padding: 10px;
}

span {
    color: #fdc11f;
}

article {
    width: 600px;
}

#subs {
    font-size: 60px;
}

#news {
    font-size: 60px;
    margin-top: -80px;
}

p {
    font-size: 15px;
    margin-top: -40px;
}

form {
    display: flex;
    flex-direction: column;
    width: 400px;

}

.input-text {
    padding: 10px;
    border-radius: 30px;
    margin: 10px 0px;
}

#send-button {
    background-color: #fdc11f;
    color: #20364b;
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
    width: 100px;
    height: 50px;
    border: none;
    border-radius: 25px;
    padding: -5px;
}

#img-aside {
    width: 500px;
    border-top-left-radius: 200px;
    border-top-right-radius: 600px;
    border-bottom-left-radius: 900px;
    border-bottom-right-radius: 650px;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 600px) {
    body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
    }

    header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    article {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    #subs {
        font-size: 40px;
        text-align: center;
    }

    #news {
        font-size: 40px;
        text-align: center;
        margin-top: -50px;
    }

    p {
        width: 300px;
        text-align: center;
        font-size: 15px;
        margin-top: 0px;
        margin-left: 20px;
    }

    form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    aside {
        display: flex;
        flex-direction: column;
        display: none;
    }
}